SUPABASE_URL=https://ffxhozraccteohyahpwi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZmeGhvenJhY2N0ZW9oeWFocHdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMTYwODksImV4cCI6MjA4ODc5MjA4OX0.-J_uQpDSJwlYOghRPNDLt-JwCnxhwfsuNMdKpiM3YMQ
JWT_SECRET=paket-track-secret-key-2024
